.title {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
}

.description {
    font-size: 12px;
    line-height: 18px;
    color: #7C7C7C;
    margin-bottom: 8px;
}

.task-btn {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.task-wrapper:hover .task-btn {
    display: block;
}

.task-wrapper {
    display: flex;
    width: 800px;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;
}

.task-actions {
    display: flex;
}