<div class="dialog-wrapper">
  <h2 mat-dialog-title>Create Todo</h2>
  <div mat-dialog-content>
    <form [formGroup]="todoForm" class="create-task-form">
      <div class="input-field">
        <label for="title">Title</label>
        <input id="title" formControlName="title" />
      </div>

      <div class="input-field">
        <label for="description">Description</label>
        <textarea
          id="description"
          matInput
          formControlName="description"
        ></textarea>
      </div>
    </form>
  </div>
  <div class="modal-actions" mat-dialog-actions>
    <button class="cancel-btn" (click)="onCancel()">Cancel</button>
    <button class="add-btn" color="primary" (click)="onSave()">Save</button>
  </div>
</div>
